.catalog-photo__slogan {
  font-size: 14px;
  line-height: 30px;
}

.catalog-photo__wrapper {
  .advantages__wrapper ();
}

.catalog-photo__list {
  .advantages__list ();
}

.users-photo__caption {
  font-size: 12px;
  line-height: 24px;
  font-weight: 700;
  text-transform: uppercase;
}

.users-photo__time {
  font-size: 12px;
  line-height: 24px;
  font-weight: 300;
  text-transform: uppercase;
}

.likes {
  color: @cerise;
}
