.contacts {
  font-weight: 300;
}

.contacts__map {
  @media (min-width: @tablet-width) {
    width: 660px;
  }

  @media (min-width: @desktop-width) {
    width: 1200px;
  }
}

.contacts__wrapper {
  text-align: center;
  .container();
}

.contacts__slogan {
  font-size: 24px;
  line-height: 29px;
  .container();

  @media (min-width: @tablet-width) {
    font-size: 40px;
    line-height: 55px;
    width: 370px;
  }

  @media (min-width: @desktop-width) {
    font-size: 50px;
    line-height: 68px;
    width: 465px;
  }
}

.contacts__list {
  .clear-list();
  .container();
  text-align: center;

  @media (min-width: @tablet-width) {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 545px;
    text-align: center;
  }

  @media (min-width: @desktop-width) {
    display: flex;
    justify-content: space-between;
    width: 865px;
  }
}

.contacts__item {
  font-size: 24px;
  line-height: 33px;

  a {
    color: @cerise;
  }

  &--center {
    @media (min-width: @tablet-width) {
      .container();
      width: 211px;
    }
  }
}

.contacts__text {
  font-size: 18px;
  line-height: 25px;
  font-weight: 700;
  color: @midnight;
}

.contacts__adress {
  color: @cerise;
}
