.form {
  font-size: 14px;
  line-height: 30px;
  font-weight: 400;
}

.form__wrapper {
  .container();
}

.form__slogan {
  width: 280px;
  text-align: center;

  &--sentence {
    display: none;
  }

  @media (min-width: @tablet-width) {
    .container();
    font-size: 18px;
    width: 490px;

    &--sentence {
      display: block;
    }
  }

  @media (min-width: @desktop-width) {
    margin-top: 35px;
    width: 756px;
  }
}
