.header-downloader__list {
  .clear-list();
}

.header-downloader__wrapper {
  .container();
}

.header-downloader {
  font-size: 18px;
  line-height: 18px;
  font-weight: 700;

  a {
    color: @white;
  }
}

.header-downloader__text {
  font-size: 14px;
  line-height: 24px;
  font-weight: 300;
}
