.header {
  color: @white;
  background: @background-color-header;

  &--inner {
    background-image: url("../../img/back-mobile.jpg");
    background-repeat: no-repeat;
  }
}

.header-description__wrapper {
  .advantages__wrapper ();
}

.header-description__slogan {
  font-size: 24px;
  line-height: 29px;
  font-weight: 300;
}

.header-downloader-list {
  .advantages__list ();
}

.header-downloader__wrapper {
  margin: 0 auto;
  padding: 0 20px;
}

.header-downloader {
  font-size: 18px;
  line-height: 18px;
  font-weight: 700;

  & a {
    color: @white;
  }
}

.header-downloader__text {
  font-size: 14px;
  line-height: 24px;
  font-weight: 300;
}
