.main-nav {
  font-size: 18px;
  line-height: 32px;
  font-weight: 700;
  text-transform: uppercase;
  color: inherit;
}

.main-nav__wrapper {
  text-align: center;
  .container();
}

.main-nav__list {
  .clear-list();

  @media (min-width: @desktop-width) {
    display: flex;
    justify-content: space-between;
    width: 940px;
  }
}

.main-nav__item {
  a {
    color: @white;
  }
}
