.main-nav {
  font-size: 18px;
  line-height: 32px;
  font-weight: 700;
  text-transform: uppercase;
  color: inherit;
}

.main-nav__toggle {
  position: absolute;
  top: 50px;
  right: 45px;

  @media (min-width: @desktop-width) {
    display: none;
  }
}

.main-nav__wrapper {
  text-align: center;
  .container();
}

.main-nav__list {
  .clear-list();

  @media (min-width: @desktop-width) {
    display: flex;
    justify-content: space-between;
    width: 940px;
    font-size: 18px;
    line-height: 18px;
    font-weight: 400;
    margin: 0 auto;
    padding: 0 20px;
    text-transform: none;
  }
}

.main-nav__item {
  a {
    color: @white;
  }
}
