.tariffs {
  font-size: 14px;
  line-height: 30px;
  font-weight: 400;
}

.tariffs__wrapper {
  .container();
}

.tariffs__title {
  font-size: 16px;
  line-height: 30px;
  font-weight: 700;
  text-transform: uppercase;
  color: @white;
  background: @midnight;
}

.tariffs__price {
  font-weight: 300;
}

.tariffs__description {
  text-transform: uppercase;
}
